h1{
	color:#ea5bf7;

}

h2{
	color: ;
}

h1{
	font-size:70px;
}


.navbar{
	background:#e16879;
}


}

.navbar{
	background:#ea5bf7;
}

.nav-link{
	display: inline-block;
}

.padding-nav{
	padding-top: 20px;
	padding-bottom:20px;
}

.link-inline{
	display: inline-block;
}